.acceptxmr {
    max-width: 80ch;
    margin: auto;
    background-color: #f26822;
    border-radius: 1em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.acceptxmr button {
    background-color: #0088ff;
    color: #000000;
    border-radius: 0.5em;
    border: 0;
    margin: 0;
    font-size: medium;
}

.acceptxmr button:hover {
    background-color: #005fb3;
    cursor: pointer;
}

.acceptxmr button:disabled {
    background-color: #979797;
}

.acceptxmr #message-container {
    margin: 1em;
    flex: 2 1 20em;
}

.acceptxmr label {
    color: #000000;
    display: block;
    padding-bottom: 0.5ch;
}

.acceptxmr #payment-content {
    display: none;
}

.acceptxmr .content button {
    margin: 1em;
    flex: 1 2 10ch;
    padding: 12px 0.5em;
    align-self: flex-end;
}

.acceptxmr textarea {
    box-sizing: border-box;
    border-radius: 0.5em;
    border: 0;
    padding: 0.5em;
    width: 100%;
    margin: 0;
    background-color: #4d4d4d;
    color: #ffffff;
    resize: vertical;
}

.acceptxmr .instruction-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.acceptxmr .instruction-container p {
    margin: 0.1em;
    color: #000000;
    font-size: large;
}

.acceptxmr .instruction-container button {
    margin: 0.5em;
    color: #000000;
    padding: 0.25em 0.5em;
}

.acceptxmr .warning {
    animation: acceptxmr-fade 2s linear;
    animation-iteration-count: infinite;
}

@keyframes acceptxmr-fade {
    0%,100% { opacity: 0.2 }
    50% { opacity: 1 }
}

.acceptxmr hr {
    width: 90%;
    border-style: solid;
    border-color: #000000;
    margin: 0;
}

.acceptxmr .content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.acceptxmr .qrcode-container {
    flex: 1 1 10ch;
    margin: 1em;
    display: flex;
    justify-content: center;
}

.acceptxmr .qrcode-container svg {
    border-radius: 1em;
    min-width: 18ch;
    align-self: center;
    background-color: #dddddd;
}

.acceptxmr .details {
    flex: 2 2 30ch;
    margin: 0 1em 1em 1em;
    overflow: hidden;
    align-self: center;
}

.acceptxmr #address-container {
    display: flex;       
    height: 3em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    background-color: #ffffff;
    justify-content: space-between;
}

.acceptxmr #address-container p {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 0.5em 0 0.5em;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #000000;
}

.acceptxmr #address-container button {
    border-radius: 0 0.5em 0.5em 0;
    height: 100%;
    padding: 0 1em;
    margin: 0;
}

.acceptxmr .status {
    margin: 0 0 0 0;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #ffffff;
    color: #000000;
}

.acceptxmr .status span {
    color: #000000;
}

@keyframes loader-animation {
    0% {
        left: -100%;
    }
    49% {
        left: 100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}
.acceptxmr .loader {
    width: 90%;
    overflow: hidden;
}
.acceptxmr .loader .bar {
    position: relative;
    height: 2px;
    margin-bottom: 0.5em;
    background-color: black;
    animation-name: loader-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
